:root{
     --color-gray-1: #191C1F;
     --color-gray-2: #212529;
     --color-gray-3:  #343A40;
     --color-gray-4:  #ADB5BD;
     --color-gray-5:  #ADB5BD;
     --color-gray-6:  #EDF2FF;
     --color-gray-7: #F8F9FA;

     --color-band-1: #4C6EF5;
     --color-band-2: #364FC7;

     font-family: 'inter'sans-serif;
     
     
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
     max-width: 78.5rem;     
}

h3{
     text-align: center;
}









